::-webkit-scrollbar {
    width: 1px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
}

article {
    max-width: 36rem;
    margin: auto;
    font-size: 1.5rem;
}

article > h3 {
    text-align: center;
}
article > p {
    text-align: justify;
    font-size: 0.8rem;
    text-justify: newspaper;
}

@media (max-width: 400px) {
    article {
        font-size: 1rem;
        max-width: 22rem;
    }
}

@media (max-width: 500px) {
    article {
        font-size: 1rem;
        max-width: 22rem;
    }
}