.blog-page-content {
    display: flex;
    color: yellow;
    justify-content: center;
    align-items: center;
}

.back-to-home {
    font-size: 2em;
    position: fixed;
    top: 0.25em;
    left: 0.25em;
}

.blog-post {
    background-color: var(--neumorphicBackground);
    border: var(--sideWall) solid 0.125em;
    border-radius: 0.5em;
    color: black;
    margin: 5em 0;
    max-width: 50em;
    padding: 2em;
    box-shadow: 0.5em 0.5em 1em var(--SiteBackgroundShadow);
}

.blog-title-with-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4em;
}

.blog-title-without-buttons {
    text-align: center;
    font-size: 4em;
}

.publication-date {
    text-align: center;
    font-size: 2em;
}

.blog-title-with-buttons,
.blog-title-without-buttons,
.publication-date {
    margin-bottom: 0.25em;
    color: var(--neumorphicFontColor);
    text-shadow: var(--neumorphicShadow);
}

.img-pencil-adjuster {
    position: relative;
    top: 6rem;
    left: 1rem;

}

.blog-image {
    border: black solid 1px;
    border-radius: 0.5em;
    max-width: 100%;
}

.blog-body {
    text-align: justify;
}

.blog-views-and-likes {
    display: flex;
    justify-content: space-evenly;
}
