.back-to-home {
    text-decoration: none;
    color: #00ec00;
}

.blog-coming-soon {
    margin-top: 10%;
    color: white;
}

.green-cube-wrapper {
    margin-top: 10%;
}

.blog-coming-soon,
.green-cube-wrapper,
.back-to-home {
    margin-left: 50%;
}