.trashcan, .pencil {
    background-color: #649ff1;
    border: 2px blue solid;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
    width: 2.5rem;
    transition: 0.25s;
}

.trashcan:hover, .pencil:hover {
    background-color: #94b7e8;
    border: 2px #ffd500 solid;
    transform: scale(1.1);
    transition: 0.25s;
}

.deletion-error-message {
    color: red;
    margin: 0.5rem;
}

.deletion-modal {
    background-color: pink;
    border: 1px solid deeppink;
    box-shadow: 0.25rem 0.25rem 0.5rem #2b7def;
    border-radius: 1rem;
    margin: auto;
    padding: 0.5rem;
    width: 50%;
    transition: 1s ease;
}

.deletion-buttons-container {
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
}

.deletion-buttons-container button {
    box-shadow: 4px 4px 8px rgba(139, 4, 76, 1);
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.85s ease;
}

.deletion-buttons-container button:hover {
    height: 3rem;
    width: 3rem;
    background-color: #1e75e9;
    border-radius: 50%;
    color: white;
    transform: scale(1.5);
    transition: 0.5s ease;
}