.contact-icons {
    max-height: 4rem;
    margin: 0.4rem;
}

#contact-icons-array {
    position: absolute;
    margin-top: 13rem;
    padding: 0;
    display: flex;
}

.contact-coin {
    list-style: none;
    margin: 0 2.5rem;
}

.contact-coin a {
    font-size: 2.5rem;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;

    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

.contact-coin a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg)
}
.contact-coin a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg)
}

.contact-coin a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.contact-coin:nth-child(1) a:hover {
    background-color: #2f2f2f;
}

.contact-coin:nth-child(1) a:hover:after {
    background-color: #1f1f1f;
}

.contact-coin:nth-child(1) a:hover:before {
    background-color: #0c0c0c;
}



.contact-coin:nth-child(2) a:hover {
    background-color: #ee4c4a;
}

.contact-coin:nth-child(2) a:hover:after {
    background-color: #96302f;
}

.contact-coin:nth-child(2) a:hover:before {
    background-color: #702524;
}



.contact-coin:nth-child(3) a:hover {
    background-color: #31a2e8;
}

.contact-coin:nth-child(3) a:hover:after {
    background-color: #23709f;
}

.contact-coin:nth-child(3) a:hover:before {
    background-color: #20445b;
}



.contact-coin:nth-child(4) a:hover {
    background-color: red;
}

.contact-coin:nth-child(4) a:hover:after {
    background-color: #a90000;
}

.contact-coin:nth-child(4) a:hover:before {
    background-color: #700000;
}
