:root {
    --gridWidth: 12.5rem;
    --gridHeight: 18.75rem;
    --sideFaceTranslation: -6.25rem;
}

#back-wall {
    position: absolute;
    width: 50rem;
    height: 34.30rem;
    background: red;
    z-index: -2;
    transform: translateX(-12rem) translateY(-12rem);
}
#side-wall {
    position: relative;
    left: 50rem;
    bottom: 21.25rem;

    width: 30rem;
    height: 34.30rem;
    background: #800000;
    z-index: -1;
    transform: skewY(45deg) translateY(-10rem);
}
#floor {
    position: relative;
    top: 34.30rem;
    left: 25rem;
    width: 50rem;
    height: 30rem;
    z-index: -3;

    background: #d50000;
    transform: skewX(45deg) translateX(-10rem) translateY(-12rem);
}


#content-cube {
    position: relative;
    margin-left: 100%;
    margin-top: 30%;

    display: grid;
    grid: var(--gridWidth) var(--gridHeight) / var(--gridWidth) var(--gridHeight);
    justify-content: center;
    transform: translateX(15.6rem) translateY(0.625rem) ;
}
#cube-face-up {
    background: #cece00;
    transform: skewX(45deg) translateX(calc(var(--sideFaceTranslation) * 2));
    width: 18.75rem;
    transition: 1s;
}
#cube-face-up:hover {
    transition: 1s;
    transform: skewX(0deg) translateX(var(--sideFaceTranslation));
    background: yellow;
}
#cube-face-west {
    background: #b0b000;
    transform: skewY(45deg) translateX(-31.25rem) translateY(37.5rem);
    height: 18.75rem;
    width: 12.5rem;
    transition: 1s;
    cursor: pointer;
}
#cube-face-west:hover {
    transform: skewY(0deg) translateX(-31.25rem) translateY(12.5rem);
    transition: 0.5s;
    background: yellow;
}
#cube-face-front {
    background: yellow;
    transform: translateX(var(--sideFaceTranslation));
    width: 18.75rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#interactive-section {
    display: flex;
    flexDirection: column;
    alignItems: center;
    justifyContent: center;
    height: 100%;

    zIndex: 1000;
    transform: translateX(-8rem) translateY(7.5rem);
}
