:root {
    --gridWidth: 12.5rem;
    --gridHeight: 18.75rem;
    --sideFaceTranslation: -6.25rem;
    --backWall: #dc7201;
    --sideWall: #D62828;
    --floor: rgba(243, 177, 187, 0.82);

    --cubeTop: #F77F00;
    --cubeSide: #D62828;

    --cubeFront: rgba(243, 177, 187);
    --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
    --tlShadow: 6px -6px 15px rgba(255,255,255,0.8);
}

#back-wall {
    position: absolute;
    width: 50rem;
    height: 34.30rem;
    background: var(--backWall);
    z-index: -2;
    transform: translateX(-12rem) translateY(-12rem);
}
#side-wall {
    position: relative;
    left: 50rem;
    bottom: 21.25rem;

    width: 30rem;
    height: 34.30rem;
    background: var(--sideWall);
    z-index: -1;
    transform: skewY(45deg) translateY(-10rem);
}
#floor {
    position: relative;
    top: 34.30rem;
    left: 25rem;
    width: 50rem;
    height: 30rem;
    z-index: -3;

    background: var(--floor);
    transform: skewX(45deg) translateX(-10rem) translateY(-12rem);
}


#content-cube {
    position: relative;
    margin-left: 100%;
    margin-top: 30%;

    display: grid;
    grid: var(--gridWidth) var(--gridHeight) / var(--gridWidth) var(--gridHeight);
    justify-content: center;
    transform: translateX(15.6rem) translateY(0.625rem) ;
}
.top-face-not-clicked {
    cursor: pointer;
    background: var(--cubeTop);
    transform: skewX(45deg) translateX(calc(var(--sideFaceTranslation) * 2));
    width: 18.75rem;
    transition: 0.2s;
}
.top-face-clicked {
    border-radius: 3rem 3rem 0 0;
    cursor: pointer;
    transform: skewX(0deg) translateX(var(--sideFaceTranslation));
    width: 18.75rem;
    background: var(--cubeFront);
    transition: 0.2s;
}
.west-face-not-clicked {
    background: var(--cubeSide);
    transform: skewY(45deg) translateX(-31.25rem) translateY(37.5rem);
    height: 18.75rem;
    width: 12.5rem;
    transition: 0.2s;
    cursor: pointer;
}
.west-face-clicked {
    border-radius: 3rem 0 0 0;
    transform: skewY(0deg) translateX(-31.25rem) translateY(12.5rem);
    cursor: pointer;
    height: 18.75rem;
    width: 12.5rem;
    transition: 0.2s;
    background: var(--cubeFront);
}
#cube-face-front {
    background: var(--cubeFront);
    transform: translateX(var(--sideFaceTranslation));
    width: 18.75rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#interactive-section {
    position: relative;
    top: 2rem;
    height: 100%;

    zIndex: 1000;
    transform: translateX(-8rem) translateY(7.5rem);
}

#crossword-info {
    font-size: 1.5rem;
    color: #f5a5c5;
    background-color: rgba(243, 177, 187, 0.82);
    text-shadow:
            -0.0075em 0.0075em 3px white,
            -0.0075em 0.0075em 3px white,
            0.005em 0.005em 0 #f5a5c5,
            0.01em 0.01em 0 #f09ab6,
            0.015em 0.015em 0 #e91e63,
            0.02em 0.02em 2px #e91e63,
            0.025em 0.025em 2px #e91e63,
            0.03em 0.03em 2px #e91e63,
            0.035em 0.035em 2px #e91e63;


    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.clues-box {
    padding: 0 1rem 0 1rem;
}

.clues-direction {
    text-transform: uppercase;
    text-align: center;
}

.clues-direction-clicked {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: #f5a5c5;
    background-color: rgba(243, 177, 187, 0.82);
    text-shadow:
            -0.0075em 0.0075em 3px white,
            -0.0075em 0.0075em 3px white,
            0.005em 0.005em 0 #f5a5c5,
            0.01em 0.01em 0 #f09ab6,
            0.015em 0.015em 0 #e91e63,
            0.02em 0.02em 2px #e91e63,
            0.025em 0.025em 2px #e91e63,
            0.03em 0.03em 2px #e91e63,
            0.035em 0.035em 2px #e91e63;
}

.clue {
    text-align: left;
    /*color: #bb3838;*/
    color: black;
}
