.about-block {
    background: var(--BlogBlock);
    position: relative;
    transform: skewY(15deg) translateX(-42rem) translateY(20rem);
    width: 18rem;
    height: 21rem;
    z-index: 10;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.25);
}

.about-block::before {
    content: '';
    position: absolute;
    background: #cb8100;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewX(-45deg) translateY(-2rem) translateX(-1rem);
    width: 18rem;
    height: 2rem;
}

.about-block::after {
    content: '';
    top: 10rem;
    position: absolute;
    background: #9f6900;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(-45deg) translateY(6rem) translateX(18rem);
    width: 2rem;
    height: 21rem;
}

.about-block-content-wrapper {
    text-align: justify;
    text-justify: auto;
    padding: 0.5rem;
}

.about-block-content-wrapper p {
    padding: 0.5rem;
}