#about-block-wrapper {
    display: flex;
    justify-content: center;
    align-self: end;
}

.about-block {
    background: var(--BlogBlock);
    position: relative;
    width: 24rem;
    height: 13rem;
    z-index: 10;
    transform: skewY(15deg);
    box-shadow: 4rem -3rem 3rem 4px rgb(0 0 0 / 25%);
}

.about-block::before {
    content: '';
    position: absolute;
    background: #cb8100;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewX(-45deg) translateY(-2rem) translateX(-1rem);
    width: 24rem;
    height: 2rem;
}

.about-block::after {
    content: '';
    top: 10rem;
    position: absolute;
    background: #9f6900;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(-45deg) translateY(12rem) translateX(24rem);
    width: 2rem;
    height: 13rem;
}

.about-block-content-wrapper {
    text-align: justify;
    text-justify: auto;
    padding: 0.5rem;
}

.about-block-content-wrapper p {
    padding: 0.5rem;
}