#tech-skills-abridged,
#tech-skills-abridged__blurry {
    padding-left: 1.5rem;
    width: 100%;
}

#tech-skills-abridged {
    transition: 0.7s ease-in-out;
}

#tech-skills-abridged__blurry {
    color: transparent;
    text-shadow: 0 0 .25rem var(--primaryColor);
    transition: 0.7s ease-in-out;
}

#tech-skills-abridged {
    color: #262626;
}

.dynamic-emergence {
    color: var(--primaryColor);
    transition: 5s;
}

.highlighted-skill {
    color: green;
    transition: 5s;
}