.settings-open,
.settings-closed {
    position: absolute;
    z-index: 4000;
    background-color: black;
    width: 55%; /* TODO looks lame on widescreen. Media query to get this to 30% */
    transition: .4s ease-in-out;
}

.settings-open__light-mode,
.settings-closed__light-mode {
    background-color: white;
}

.settings-open {
    border-left: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);
    transition: .4s ease-in-out;
}

.settings-closed {
    margin-bottom: 0rem;
    transition: 1s ease-in-out;
    opacity: 0.25;
}

.settings-flex {
    display: flex;
    justify-content: space-between;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

@media (max-width: 400px) {
    .settings-open,
    .settings-open__light-mode {
        position: absolute;
        z-index: 4000;
        border-left: none;
        width: 55%;
        border-top: none;
        border-bottom: none;
        bottom: 9em;
        transition: .4s ease-in;
    }
}