.settings-open,
.settings-closed {
    z-index: 4000;
    background-color: black;
    width: 33%;
    transition: .4s ease-in-out;
    border-right: 1px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

.settings-open__light-mode,
.settings-closed__light-mode {
    background-color: white;
    border-right: 1px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
    width: 33%;
}

.settings-open {
    margin-right: 11rem;
    border-left: var(--border);
    border-bottom: var(--border);
    transition: .4s ease-in-out;
}

.settings-closed {
    margin-bottom: 0rem;
    transition: 1s ease-in-out;
    opacity: 0.25;
}

.settings-flex {
    display: flex;
    justify-content: space-between;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

@media (max-width: 400px) {
    .settings-open,
    .settings-open__light-mode {
        margin-right: 1rem;
        width: 40%;
        transition: .4s ease-in;
    }
}