.deletion-error-message {
    color: red;
    margin: 0.5rem;
}

.deletion-modal {
    background-color: pink;
    border: 1px solid deeppink;
    box-shadow: 0.25rem 0.25rem 0.5rem #2b7def;
    border-radius: 1rem;
    margin: auto;
    padding: 0.5rem;
    width: 50%;
    transition: 1s ease;
}

.deletion-buttons-container {
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
}

.deletion-buttons-container button {
    box-shadow: 4px 4px 8px rgba(139, 4, 76, 1);
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.85s ease;
}

.deletion-buttons-container button:hover {
    height: 3rem;
    width: 3rem;
    background-color: #1e75e9;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.5s ease;
}