img {
    max-width: 500px;
}

h5, p {
    text-align: center;
}

.bread-blog-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-body-container {
    margin: 0.5rem;
    width: 31.25rem;
    text-align: justify;
}

.blog-article-title {
    font-size: 2rem;
    margin: 0.5rem;
    width: 100%;
}

.title-with-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-with-buttons > div {
    border: 1px solid var(--primaryColor);
}

.publication-date {
    margin: 0 0 0.5rem 0;
}