h2 {
    border: var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 500px;
    cursor: pointer;
}

h2:hover {
    background-color: var(--primaryColor);
    color: black;
}

.content-card {
    width: 500px;
}

.publish-panel-title {
    text-align: center;
}