.content-card {
    width: 500px;
}

h2, .publish-panel-input, #blog-body-input {
    width: 490px;
}

#publish-panel-button {
    width: 499px;
}

.publish-panel-input, #blog-body-input, #publish-panel-button {
    margin-top: 1rem;
}

h2 {
    align-items: center;
    border: var(--border);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: center;
}

h2:hover {
    background-color: var(--primaryColor);
    color: black;
}

.publish-panel-title {
    text-align: center;
}

label {
    display: flex;
    flex-direction: column;
}

.publish-panel-input {
    text-align: start;
    margin-left: 0;
    margin-right: 0;
}

#blog-body-input {
    background-color: black;
    color: var(--primaryColor);
    height: 10rem;
    outline: none;
}

.content-card {
    background-color: black;
}

#publish-panel-button {
    background-color: var(--primaryColor);
    color: black;
    cursor: pointer;
    height: 3rem;
}

#publish-panel-button:hover {
    background-color: black;
    color: var(--primaryColor);
    transition: 0.2s;
}