#gochenour-banner-grid {
    display: flex;
    flex-direction: row;
}

.gochenour-banner-cell {
    width: 1rem;
    height: 1rem;
    border: none;
    margin: 0;
    padding: 0;
}

/* The letter G */
#c0_0,#c0_1,#c0_2,#c0_3,#c0_4,
#c1_0,#c1_4,
#c2_0,#c2_2,#c2_4,
#c3_0,#c3_2,#c3_3,#c3_4
{
    background-color: yellow;
}

/* The letter O */
#c5_2,#c5_3,#c5_4,
#c6_2,#c6_4,
#c7_2,#c7_3,#c7_4
{
    background-color: yellow;
}

/* The letter C */
#c9_2,#c9_3,#c9_4,
#c10_2,#c10_4,
#c11_2, #c11_4
{
    background-color: yellow;
}

/* The letter H */
#c13_0,#c13_1,#c13_2,#c13_3,#c13_4,
#c14_2,#c15_2,#c15_3,#c15_4
{
    background-color: yellow;
}

/* The letter E */
#c17_2, #c18_2,
#c17_3, #c18_3,
#c17_4, #c18_4, #c18_5, #c19_4
{
    background-color: yellow;
}

/* The letter E */
#c21_2,#c21_3,#c21_4,
#c22_2,#c23_2,#c23_3,#c23_4
{
    background-color: yellow;
}

/* The letter N */
#c25_2,#c26_2,#c27_2,
#c25_3,#c27_3,
#c25_4,#c26_4,#c27_4
{
    background-color: yellow;
}

/* The letter O */
#c29_2,#c29_3,#c29_4,
#c30_4,#c31_2,#c31_3,#c31_4
{
    background-color: yellow;
}

/* The letter U */
#c33_2,#c33_3,#c33_4,
#c34_2,#c35_2
{
    background-color: yellow;
}
/* The letter R */
{
    background-color: yellow;
}