ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-open,
.sidebar-open__light-mode,
.sidebar-closed {
    position: absolute;
    z-index: 4000;
    background-color: black;
    opacity: 1;
}

.sidebar-open,
.sidebar-open__light-mode {
    border-right: var(--border);
    border-bottom: var(--border);
    min-width: 2rem;
    padding: 0 1rem 2rem 1rem;
    width: 40%;
    height: 52%;
    color: var(--primaryColor);
    transition: 0.4s ease-in;
}

.sidebar-open__light-mode {
    color: var(--primaryColorLightMode);
}

.sidebar-closed {
    width: 0%;
    transition: 0.4s ease-in;
}

.sidebar__listItem {
    margin: 2rem .75rem;
    display: flex;
    height: 1.5rem;
    cursor: pointer;
    border-bottom: var(--border);
}

.sidebar__listItem span {
    white-space: nowrap;
}

/* FADE ANIMATIONS */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}

@media (max-width: 400px) {
    .sidebar-open,
    .sidebar-open__light-mode {
        width: 27%;
    }
}