.sidebar-open,
.sidebar-open__light-mode,
.sidebar-closed,
.sidebar-closed__light-mode {
    position: absolute;
    z-index: 4000;
    background-color: black;
    opacity: 1;
}

.sidebar-open,
.sidebar-open__light-mode {
    border-right: var(--border);
    border-bottom: var(--border);
    padding: 0 1rem 2rem 1rem;
    color: var(--primaryColor);
    transition: 0.4s ease-in;
    width: 18em;
    height: 50%;
}

.sidebar-open__light-mode {
    background-color: white;
    color: var(--primaryColorLightMode);
}

.sidebar-closed,
.sidebar-closed__light-mode {
    width: 0%;
    transition: 0.4s ease-in;
}

.sidebar__listItem {
    margin: 2rem .75rem;
    display: flex;
    height: 1.5rem;
    cursor: pointer;
    border-bottom: var(--border);
}

.sidebar__listItem span {
    white-space: nowrap;
}

ul {
    list-style-type: none;
    padding: 0;
}

#résumé-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* FADE ANIMATIONS */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}

@media (max-width: 400px) {
    .sidebar-open,
    .sidebar-open__light-mode {
        width: 8em;
        height: 55%;
    }
}