.publish-panel {
    margin: 3rem;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    height: 65%;
}

.content-card {
    border: .25rem solid yellow;
    border-radius: 0.25rem;
    padding: .25rem;
}

.publish-panel-title {
    color: yellow;
    text-align: center;
}

.publish-panel-label {
    display: flex;
    justify-content: end;
    margin: 0.5rem;
}

.content-form {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.label-text {
    margin: 0.5rem;
    color: yellow;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.publish-panel-input {
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
    width: 80%;
}

.publish-panel-button {
    width: 95%;
    height: 4rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;
    bottom: 0.5rem;
}

#blog-body-input {
    height: 4rem;
}