:root {
  --largePadding: 0.5rem;
  --smallPadding: 0.25rem;
  --primaryColor: #93a48c;
  --primaryColorLightMode: #2e6e15;
  --border: var(--primaryColor) solid 1px;
  --longTransition: 5s;
  --toggleSwitchTransition: .4s;
  user-select: none;
}

html {
  color-scheme: light dark;
}

body {
  background-color: black;
  color: var(--primaryColor);
  font-family: 'Raleway', sans-serif;

  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  border-bottom: var(--border);
  padding: 0 var(--largePadding);
  display: grid;
  grid-template-columns: 72% 14% 14%;
  height: 10vh;
}

#name-and-title {
  cursor: pointer;
  margin: auto 0;
  padding-left: 1.5rem;
}

#language-button-container,
#main-menu-button-container {
  border-left: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  overflow: scroll;
  flex-grow: 1;
  max-height: 80vh;
}

#primary-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#settings-menu-container {
  position: absolute;
  margin-top: 5.75em;
  width: 30rem;
  display: flex;
  flex-direction: row;
  align-items: end;
}

footer {
  height: 10vh;
  border-top: 1px solid var(--primaryColor);
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, 33.3333%);
}

footer span {
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.footer-icons {
  height: 2em;
}

.blurry {
  color: transparent;
  text-shadow: 0 0 .25rem var(--primaryColor);
  transition: 0.7s ease-in-out;
}

#tech-skills-abridged,
#tech-skills-abridged__blurry {
  padding-right: 1.5rem;
  text-align: end;
}

#tech-skills-abridged {
  user-select: none;
  transition: 0.7s ease-in-out;
}

#site-info {
  padding: 1.5rem;
  text-align: justify;
  transition: 1.3s ease-in-out;
}

.light-mode {
  background-color: white;
  color: var(--primaryColorLightMode);
}

@media (max-width: 400px) {
  main {
    height: 90vh;
  }
  section {
    max-height: 70vh;
  }
  #primary-content {
    display: flex;
    justify-content: space-between;
    height: 50%;
  }
  #settings-menu-container {
    width: 25rem;
  }
}