:root {
  --AboutBlock: #ff9500;
  --ContactBlock: #ffa200;
  --BlogBlock: #ffaa00;
  --PuzzleBlock: #ffb700;
  --LanguageBlock: #ffd000;
  --AdminBlock: #ffc300;
  --MenuBlockText: #ffffff;
}
body {
  font-family: 'Cabin', sans-serif;
  user-select: none;
  background: #434150;
}
.banners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.banner-and-menu-wrapper {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 60% 40%;
  justify-content: center;
}

